
<nav class="navbar px-3 px-lg-0 navbar-expand-lg py-3 py-lg-0" style="background-color: #001121;">
    <a class="navbar-brand">
        <img src="assets/logo.png" height="70%" width="70%" class="navbar-image">
    </a>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
  
      <ul class="navbar-nav  mx-auto">
        <li class="nav-item ">
          <a class="nav-link text-white h4 active" aria-current="page" href="search">Candidate Management</a>
        </li>
      </ul>
  
      <ul class="navbar-nav  ml-auto mr-3">
  
        <li class="nav-item pr-4 ">
          <a class="nav-link text-white h5" aria-current="page" href="#">Home</a>
        </li>
  
        <li class='nav-item'>
          <button class="btn btn-outline-danger" (click)="logout()" >Signout</button>  
        </li>
  
      </ul>
  
    </div>
  
  </nav>