
<br>
<br>
<br>

<h1 class="text-center card-body"> WELCOME TO ACCOLITE DIGITAL</h1>


<section class="login-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form class="md-float-material form-material">
                    <div class="auth-box card">
                        <div class="card-block">

                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-center heading">Accolite login</h3>
                                </div>
                            </div>
                            
                            <div class="form-group form-primary"> <input readonly type="text" class="form-control" name="email" value="" placeholder="Email" id="email"> </div>
                            <div class="form-group form-primary"> <input  readonly type="password" class="form-control" name="password" placeholder="Password" value="" id="password"> </div>
                            
                            <div class="row">
                                <div class="col-md-12"> <input type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" name="submit" value="Signup Now"> 
                                </div>
                            </div>

                            <div class="or-container">
                                <div class="line-separator"></div>
                                <div class="or-label">or</div>
                                <div class="line-separator"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                     <div class="text-center"> 
                                        <button  class=" btn btn-primary " (click)="login()">Signup Using Google</button>
                                    </div>
                            </div>

                            </div> <br> <br> <br>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

